<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/Volumes/Home/alvise/miniforge3/envs/tools/bin/streamlit</key>
			<true/>
		</dict>
	</dict>
	<key>Label</key>
	<string>org.wakepc</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/wakepc-launch.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/wakepc.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/wakepc.log</string>
</dict>
</plist>
